*~
\#*\#

elpa/archives/
ac-comphist.dat
auto-save-list
bookmarks
eshell
ido.last
tramp
projectile-bookmarks.eld
projectile.cache
url

anaconda-mode/**/*.pyc

session.*

.emacs.desktop
.emacs.desktop.lock

.lsp-session-*
.cache
eln-cache/
.dap-breakpoints
workspace/