*~
\#*\#

auto-save-list/
elpa/archives/
transient/
anaconda-mode/**/*.pyc

url
recentf
session.*
.emacs.desktop
.emacs.desktop.lock

bookmarks
eshell
ido.last
tramp
projectile-bookmarks.eld
.lsp-session-*
.dap-breakpoints

.cache/
eln-cache/
*.elc
projectile.cache