*~
\#*\#

auto-save-list/
elpa/archives/
transient/
eshell/
anaconda-mode/**/*.pyc

url
recentf
bookmarks
history
projects
session.*
.emacs.desktop
.emacs.desktop.lock

bookmarks
ido.last
tramp
projectile-bookmarks.eld
.lsp-session-*
.dap-breakpoints
.org-id-locations
org-roam.db

.cache/
eln-cache/
*.elc
projectile.cache